@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information about FRWeb.</p>

<p>FRWeb is the ASP.Net web application which will serve an Angular SPA app
and implement the api for that app.</p>

<p>I am starting out in VS2019 for Mac.</p>
